<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>가수 검색</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <style>
        body {
            /* background: linear-gradient(to right, #e0f7fa, #80deea); */
            background-image: url('https://source.unsplash.com/1600x900/?nature,abstract');
            background-size: cover;
            background-position: center;
            font-family: 'Noto Sans KR', sans-serif;
        }

        .clicked {
            background-color: #add8e6;
        }

        #actionButton {
            display: none;
        }

        .hidden {
            display: none;
        }
    </style>
</head>
<body class="bg-gradient-to-r from-blue-100 to-blue-300 min-h-screen p-6">
    <!-- 가수 선택 -->
    <div id="artistSelectionContainer" class="max-w-lg mx-auto bg-white rounded-lg shadow-md p-6">
        <div class="mb-4">
            <i class="fas fa-arrow-left cursor-pointer" id="backButton"></i> <!-- 뒤로가기 아이콘 -->
        </div>
        <h1 class="text-2xl font-bold mb-4 text-center">가수 검색</h1>
        <div class="relative mb-6">
            <form method="GET" action="">
                <input type="text" name="search" placeholder="검색" value="{{ query }}" class="w-full border border-gray-300 rounded-full py-2 px-4 pl-10 focus:outline-none focus:ring-2 focus:ring-blue-500" onKeyPress="if (event.keyCode==13) { form.submit(); }">
            </form>
            <svg class="w-5 h-5 absolute left-3 top-1/2 transform -translate-y-1/2 text-gray-400" fill="currentColor" viewBox="0 0 20 20">
                <path fill-rule="evenodd" d="M12.9 14.32a8 8 0 111.414-1.414l4.387 4.387a1 1 0 01-1.414 1.414l-4.387-4.387zM8 14a6 6 0 100-12 6 6 0 000 12z" clip-rule="evenodd" />
            </svg>
        </div>
        <!-- 검색된 가수 리스트 -->
        <ul id="artistsList">
            {% for artist in artists %}
            <li class="flex items-center mb-4" data-artist-id="{{ artist.id }}">
                <img src="{{ artist.image_url }}" alt="{{ artist.name }}" class="w-12 h-12 rounded-full mr-4">
                <div>
                    <p class="font-bold">{{ artist.name }}</p>
                </div>
            </li>
            <!-- 검색된 가수 없을 경우 -->
            {% empty %}
            <li class="text-gray-500">No artists found.</li>
            {% endfor %}
        </ul>
        <!-- 가수 선택 후 확인 커맨드 -->
        <div class="mt-4 flex justify-center">
            <button id="actionButton" class="bg-blue-500 text-white py-2 px-4 rounded">선택 완료</button>
        </div>
    </div>
    <!-- 선택한 가수의 음악 리스트 -->
    <div id="tracksContainer" class="max-w-lg mx-auto bg-white rounded-lg shadow-md p-6 hidden">
        <div class="mb-4">
            <i class="fas fa-arrow-left cursor-pointer" id="backButtonTrack"></i> <!-- 뒤로가기 아이콘 -->
        </div>
        <h1 class="text-2xl font-bold mb-4 text-center">음악 선택</h1>
        <ul id="trackList">
            <!-- 트랙 데이터 삽입 -->
        </ul>
        <div class="mt-4 flex justify-center">
            <button id="submitTracksButton" class="mt-4 bg-blue-500 text-white p-2 rounded hidden">선택 완료</button>
        </div>
    </div>
    <div id="recommendTracksContainer" class="max-w-lg mx-auto bg-white rounded-lg shadow-md p-6 hidden">
        <div class="mb-4">
            <i class="fas fa-arrow-left cursor-pointer" id="backButtonRecommend"></i> <!-- 뒤로가기 아이콘 -->
        </div>
        <h1 class="text-2xl font-bold mb-4 text-center">음악 추천</h1>
        <ul id="recommendTrackList">
            <!-- 트랙 데이터 삽입 -->
        </ul>
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const artistsList = document.getElementById("artistsList");
            const actionButton = document.getElementById("actionButton");
            const trackList = document.getElementById("trackList");
            const tracksContainer = document.getElementById("tracksContainer");
            const submitTracksButton = document.getElementById("submitTracksButton");  // 선택 완료 버튼 요소 추가
            const maxSelectedTracks = 5;  
            const maxSelectedList = 3;
            
            let selectedItems = []; // 선택된 artist ID를 저장
            let selectedTracks = []; // 선택된 track ID를 저장

            // 가수 선택 페이지 뒤로가기
            const backButton = document.getElementById('backButton');
            if(backButton) {
                backButton.addEventListener('click', function() {
                    window.history.back();
                });
            }

            // 트랙 선택 페이지 뒤로가기
            const backButtonTrack = document.getElementById('backButtonTrack');
            if(backButtonTrack) {
                backButtonTrack.addEventListener('click', function() {
                    tracksContainer.classList.add('hidden');
                    artistSelectionContainer.classList.remove('hidden');
                });
            }

            // 추천 음악 선택 페이지 뒤로가기
            const backButtonRecommend = document.getElementById('backButtonRecommend');
            if(backButtonRecommend) {
                backButtonRecommend.addEventListener('click', function() {
                    recommendTracksContainer.classList.add('hidden');
                    tracksContainer.classList.remove('hidden');
                });
            }

            artistsList.addEventListener("click", function(event) {
                const clickedItem = event.target.closest('li');

                if (clickedItem) {
                    // 클릭된 항목이 이미 선택된 경우 선택 해제
                    if (clickedItem.classList.contains('clicked')) {
                        clickedItem.classList.remove('clicked');
                        selectedItems = selectedItems.filter(item => item !== clickedItem);
                    } else {
                        // 선택된 항목이 3개 미만일 경우에만 선택 가능
                        if (selectedItems.length < maxSelectedList) {
                            clickedItem.classList.add('clicked');
                            selectedItems.push(clickedItem);
                        } else {
                            // 이미 3개 선택된 경우, 가장 먼저 선택된 항목 해제
                            const firstSelectedItem = selectedItems.shift();
                            firstSelectedItem.classList.remove('clicked');

                            // 새로운 항목을 선택으로 추가
                            clickedItem.classList.add('clicked');
                            selectedItems.push(clickedItem);
                        }
                    } 
                    
                    if (selectedItems.length > 0) {
                        actionButton.style.display = 'inline-block';
                    } else {
                        actionButton.style.display = 'none';
                    }
                }
            });
            // 트랙 체크박스
            function handleCheckboxChange(checkbox, trackId) {
                // 체크박스가 체크된 경우
                if (checkbox.checked) {
                    if (selectedTracks.length < maxSelectedTracks) {
                        selectedTracks.push(trackId);
                    } else {
                        checkbox.checked = false
                        alert(`최대 ${maxSelectedTracks}개의 트랙만 선택할 수 있습니다.`);
                    }
                } else {
                    selectedTracks = selectedTracks.filter(id => id !== trackId);
                }

                // 트랙 선택 완료 버튼 시 여부 결정
                if (selectedTracks.length > 0) {
                    submitTracksButton.classList.remove('hidden');
                } else {
                    submitTracksButton.classList.add('hidden');
                }
            }

            // 버튼 클릭 시 선택된 artiest ID 서버로 전송
            actionButton.addEventListener("click", async function(){
                // 선택된 artiest ID 배열 생성
                const selectedArtistIds = selectedItems.map(item => item.getAttribute('data-artist-id'));
                // 서버에 데이터 전송
                const response = await fetch('/get_tracks/', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': '{{ csrf_token }}'
                    },
                    body: JSON.stringify({ artist_ids: selectedArtistIds })
                })
                .then(response => response.json())
                .then(data => {
                    // 트랙 데이터 html로 출력
                    trackList.innerHTML='';
                    // views.py에서 JsonResponse({'tracks': all_tracks}) 이걸로 데이터 받아옴
                    // 딕셔너리 반복
                    for (const artistId in data.tracks) {
                        if (data.tracks.hasOwnProperty(artistId)) {
                            const tracks = data.tracks[artistId];
                            
                            // 각 아티스트의 트랙을 리스트에 추가
                            tracks.forEach(track => {
                                const li = document.createElement('li');
                                li.classList.add('flex', 'item-center', 'justify-between', 'mb-4');
                                li.setAttribute('data-track-id', track.id);

                                // 트랙 이미지
                                const img = document.createElement('img');
                                img.src = track.image_url;  // 이미지
                                img.alt = track.name;  // 이미지 없을 경우
                                img.classList.add('w-12', 'h-12', 'rounded-full', 'mr-4');

                                // 트랙 이름
                                const trackName = document.createElement('p');
                                trackName.classList.add('font-bold');
                                trackName.textContent = track.name;

                                // 재생 아이콘 preview_url이 비어있는 경우를 분기
                                const playButton = document.createElement('button');
                                if (track.preview_url === '') {
                                    playButton.innerHTML = '❌';
                                    playButton.disabled = true;
                                    playButton.classList.add('ml-auto');
                                } else {
                                    playButton.innerHTML = '▶';
                                    playButton.classList.add('play-button', 'ml-auto');
                                }
                                
                                //오디오 url
                                const audio = document.createElement('audio');
                                audio.src = track.preview_url;
                                audio.classList.add('hidden');

                                playButton.addEventListener('click', function() {
                                    if (audio.paused) {
                                        audio.play();
                                        playButton.innerHTML = '⏸️';
                                    } else {
                                        audio.pause();
                                        playButton.innerHTML = '▶';
                                    }
                                });

                                // 체크박스 생성
                                const checkbox = document.createElement('input');
                                checkbox.type = 'checkbox';
                                checkbox.classList.add('ml-4');
                                checkbox.addEventListener('change', function(){
                                    handleCheckboxChange(checkbox, track.id);
                                })

                                // li에 img, name 추가
                                li.appendChild(img);
                                li.appendChild(trackName);
                                li.appendChild(playButton);
                                li.appendChild(audio);
                                li.appendChild(checkbox);

                                // 트랙 리스트에 li 추가
                                trackList.appendChild(li);
                            });
                        }
                    }
                    // 기본 hidden처리 없애서 트랙 표시
                    tracksContainer.classList.remove('hidden');
                    
                    // 아티스트 선택 화면 숨김
                    const artistSelectionContainer = document.getElementById('artistSelectionContainer');
                    artistSelectionContainer.classList.add('hidden');
                })
                .catch (error => {
                    console.error('AJAX 요청 중 오류', error);
                });
            });

            submitTracksButton.addEventListener('click', function(){
                fetch('/recommend_tracks/', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': '{{ csrf_token }}'
                    },
                    body: JSON.stringify({ track_ids: selectedTracks })
                })
                .then(response => response.json())
                .then(data => {
                    // 트랙 선택 화면 숨김 처리
                    tracksContainer.classList.add('hidden');

                    // recommendTracksContainer에 접근
                    const recommendTracksContainer = document.getElementById('recommendTracksContainer');
                    const recommendTracksList = recommendTracksContainer.querySelector('#recommendTrackList');

                    // 기존 트랙 리스트 초기화
                    recommendTracksList.innerHTML='';

                    // 추천 트랙 리스트 출력
                    data.recommend_all_tracks.forEach(track => {
                        const li = document.createElement('li');
                        li.classList.add('flex', 'item-center', 'justify-between', 'mb-4');
                        li.setAttribute('data-track-id', track.id)

                        // 트랙 이미지
                        const img = document.createElement('img');
                        img.src = track.images
                        img.alt = track.name; //이미지 없을 경우 텍스트
                        img.classList.add('w-12', 'h-12', 'rounded-full', 'mr-4');

                        // div 박스 생성
                        const trackInfo = document.createElement('div');
                        trackInfo.classList.add('flex', 'flex-col', 'mr-4');

                        // 트랙 이름
                        const trackName = document.createElement('p');
                        trackName.classList.add('font-bold', 'text-lg');
                        trackName.textContent = track.name;

                        // 아디스트 이름
                        const artistName = document.createElement('p');
                        artistName.classList.add('font-light', 'text-sm');
                        artistName.textContent = track.artist;

                        // 30초 듣기
                        const playButton = document.createElement('button');
                        if (track.preview_url === '') {
                            playButton.innerHTML = '❌';
                            playButton.disabled = true;
                            playButton.classList.add('ml-auto');
                        } else {
                            playButton.innerHTML = '▶';
                            playButton.classList.add('play-button', 'ml-auto')
                        }

                        // 오디오 url
                        const audio = document.createElement('audio');
                        audio.src = track.preview_url;
                        audio.classList.add('hidden');

                        playButton.addEventListener('click', function() {
                            if (audio.paused) {
                                audio.play();
                                playButton.innerHTML = '⏸️';
                            } else {
                                audio.pause();
                                playButton.innerHTML = '▶';
                            }
                        });

                        // div 박스에 아티스트 이름, 트랙 이름 배치
                        trackInfo.appendChild(trackName);
                        trackInfo.appendChild(artistName);

                        li.appendChild(img);
                        li.appendChild(trackInfo);
                        li.appendChild(playButton);
                        li.appendChild(audio);

                        recommendTrackList.appendChild(li);
                    });
                    recommendTracksContainer.classList.remove('hidden');
                })
                .catch(error => {
                    console.error('AJAX 요청 중 오류', error);
                });
            });
        });
    </script>
</body>
</html>