<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>가수 검색</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap" rel="stylesheet">
    <style>
        body {
            font-family: 'Noto Sans KR', sans-serif;
        }

        .clicked {
            background-color: #add8e6;
        }

        #actionButton {
            display: none;
        }

        .hidden {
            display: none;
        }
    </style>
</head>
<body class="bg-gray-100 p-6">
    <!-- 가수 선택 -->
    <div id="artistSelectionContainer" class="max-w-lg mx-auto bg-white rounded-lg shadow-md p-6">
        <h1 class="text-2xl font-bold mb-4">가수 검색</h1>
        <div class="relative mb-6">
            <form method="GET" action="">
                <input type="text" name="search" placeholder="검색" class="w-full border border-gray-300 rounded-full py-2 px-4 pl-10 focus:outline-none focus:ring-2 focus:ring-blue-500" onKeyPress="if (event.keyCode==13) { form.submit(); }">
            </form>
            <svg class="w-5 h-5 absolute left-3 top-1/2 transform -translate-y-1/2 text-gray-400" fill="currentColor" viewBox="0 0 20 20">
                <path fill-rule="evenodd" d="M12.9 14.32a8 8 0 111.414-1.414l4.387 4.387a1 1 0 01-1.414 1.414l-4.387-4.387zM8 14a6 6 0 100-12 6 6 0 000 12z" clip-rule="evenodd" />
            </svg>
        </div>
        <!-- 검색된 가수 리스트 -->
        <ul id="artistsList">
            {% for artist in artists %}
            <li class="flex items-center mb-4" data-artist-id="{{ artist.id }}">
                <img src="{{ artist.image_url }}" alt="{{ artist.name }}" class="w-12 h-12 rounded-full mr-4">
                <div>
                    <p class="font-bold">{{ artist.name }}</p>
                </div>
            </li>
            <!-- 검색된 가수 없을 경우 -->
            {% empty %}
            <li class="text-gray-500">No artists found.</li>
            {% endfor %}
        </ul>
        <!-- 가수 선택 후 확인 커맨드 -->
        <div class="mt-4 flex justify-center">
            <button id="actionButton" class="bg-blue-500 text-white py-2 px-4 rounded">선택 완료</button>
        </div>
    </div>
    <!-- 선택한 가수의 음악 리스트 -->
    <div id="tracksContainer" class="max-w-lg mx-auto bg-white rounded-lg shadow-md p-6 hidden">
        <h1 class="text-2xl font-bold mb-4">음악 선택</h1>
        <ul id="trackList">
            <!-- 트랙 데이터 삽입 -->
        </ul>
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const artistsList = document.getElementById("artistsList");
            const actionButton = document.getElementById("actionButton");
            const trackList = document.getElementById("trackList");
            const tracksContainer = document.getElementById("tracksContainer");
            const maxSelectedList = 3;
            let selectedItems = [];
            
            artistsList.addEventListener("click", function(event) {
                const clickedItem = event.target.closest('li');

                if (clickedItem) {
                    // 클릭된 항목이 이미 선택된 경우 선택 해제
                    if (clickedItem.classList.contains('clicked')) {
                        clickedItem.classList.remove('clicked');
                        selectedItems = selectedItems.filter(item => item !== clickedItem);
                    } else {
                        // 선택된 항목이 3개 미만일 경우에만 선택 가능
                        if (selectedItems.length < maxSelectedList) {
                            clickedItem.classList.add('clicked');
                            selectedItems.push(clickedItem);
                        } else {
                            // 이미 3개 선택된 경우, 가장 먼저 선택된 항목 해제
                            const firstSelectedItem = selectedItems.shift();
                            firstSelectedItem.classList.remove('clicked');

                            // 새로운 항목을 선택으로 추가
                            clickedItem.classList.add('clicked');
                            selectedItems.push(clickedItem);
                        }
                    } 

                    if (selectedItems.length > 0) {
                        actionButton.style.display = 'inline-block';
                    } else {
                        actionButton.style.display = 'none';
                    }
                }
            });

            // 버튼 클릭 시 선택된 artiest ID 서버로 전송
            actionButton.addEventListener("click", async function(){
                // 선택된 artiest ID 배열 생성
                const selectedArtistIds = selectedItems.map(item => item.getAttribute('data-artist-id'));
                // 서버에 데이터 전송
                const response = await fetch('/get_tracks/', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': '{{ csrf_token }}'
                    },
                    body: JSON.stringify({ artist_ids: selectedArtistIds })
                })
                .then(response => response.json())
                .then(data => {
                    // 트랙 데이터 html로 출력
                    trackList.innerHTML='';
                    // views.py에서 JsonResponse({'tracks': all_tracks}) 이걸로 데이터 받아옴
                    // 딕셔너리 반복
                    for (const artistId in data.tracks) {
                        if (data.tracks.hasOwnProperty(artistId)) {
                            const tracks = data.tracks[artistId];
                            
                            // 각 아티스트의 트랙을 리스트에 추가
                                tracks.forEach(track => {
                                const li = document.createElement('li');
                                li.classList.add('flex', 'item-center', 'mb-4');

                                // 트랙 이미지 
                                const img = document.createElement('img');
                                img.src = track.image_url;  // 이미지
                                img.alt = track.name;  // 이미지 없을 경우
                                img.classList.add('w-12', 'h-12', 'rounded-full', 'mr-4');

                                // 트랙 이름
                                const trackName = document.createElement('p');
                                trackName.classList.add('font-bold');
                                trackName.textContent = track.name;

                                // li에 img, name 추가
                                li.appendChild(img);
                                li.appendChild(trackName);

                                // 트랙 리스트에 li 추가
                                trackList.appendChild(li);
                            });
                        }
                    }
                    // 기본 hidden처리 없애서 트랙 표시
                    tracksContainer.classList.remove('hidden');
                    
                    // 아티스트 선택 화면 숨김
                    const artistSelectionContainer = document.getElementById('artistSelectionContainer');
                    artistSelectionContainer.classList.add('hidden');
                })
                .catch (error => {
                    console.error('AJAX 요청 중 오류', error);
                }) 
            });
        });
    </script>
</body>
</html>